# Data Science Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**
* Some of the popular languages that Data Scientists use are
* Some of the commonly used libraries used by Data Scientists include
* below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. scikit-learn


| Data Science Tools| 
| ------------- |
| Juptyer Notebooks| 
| Rstudio  |
| Spyder|

### below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marwan Ashraf